*{
  margin: 0;
  padding: 0;
}
body,html{
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  color:#364860;
  font-weight:400;
  min-width: 1366px;
  background:rgba(236,236,236,1);
}
/* 中间主体 */
.content{
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #FFFFFF;
  min-height: calc(100vh - 98px);
  width: 1480px;
}
.conPd{
  padding: 24px;
}
 /* Dialog 弹出框 */
.el-dialog__header{
  padding: 10px 24px;
  border-bottom: solid 1px #E0E1EE;
}
.el-dialog__body{
  padding: 20px 24px;
}
.el-dialog__footer{
  padding: 10px 24px;
  border-top: solid 1px #E0E1EE;
}
.el-dialog__headerbtn{
  top: 13px;
  right: 24px;
}
.el-button--primary {
  background-color: #477de9;
  border-color: #477de9;
  /* color: #FFF !important; */
}
.el-dialog__title{
  font-size: 16px;
  color: #364860;
}
.el-form-item--medium .el-form-item__label{
  color: #364860;
  font-weight: 400;
}
.el-input--small{
  width: 300px;
  margin-right: 15px;
}
.el-input__inner{
  border-color: #D9D9D9;
}
 /* message 信息提示框 */
.el-message-box__header,
.el-message-box__content,
.el-message-box__btns {
  padding-left: 24px;
  padding-right: 24px;
}
.el-message-box__btns .el-button--primary {
  background-color: #477de9;
  border-color: #477de9;
  color: #FFF !important;
}
.el-message-box__headerbtn {
  top: 15px;
  right: 24px;
}
.el-message-box__message p{
  color: #999999;
}
.el-message-box__title{
  color: #364860;
}
 /* input */
.el-input__inner:hover,.el-textarea__inner:hover{
  border-color:#477DE9;
}
 /* table 表格 */
.el-table{
  color: #364860;
  border: 0;
}
.el-table--border th, .el-table--border td,
.el-table th.is-leaf{
  border-color:#E0E1EE;
  border-right: 0;
}
.el-table th>.cell{
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #364860;
}
.el-table .cell{
  line-height: 19px;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #F3F7FE;
}
.el-table--border th{
  background-color: #FAFAFA;
}
.el-table--border::after{
  width: 0;
}
.el-table td, .el-table th{
  padding: 10px 0;
}
 /* 按钮 */
.el-button--small{
  padding: 8px 20px;
  font-size: 14px;
}
.el-button--default{
  color: #364860;
}
.el-button--info{
  background: #D9D9D9;
  border-color:#D9D9D9;
  color: #999999;
}
.el-button--info:hover, .el-button--info:focus{
  background: #E9E9E9;
  border-color: #E9E9E9;
  color: #999999;
}
.el-button--info.is-plain:hover, .el-button--info.is-plain:focus{
  background: #D9D9D9;
  border-color:#D9D9D9;
  color: #999999;
}
/* switch按钮样式 */
.switch .el-switch__label {
  position: absolute;
  display: none;
  color: #fff !important;
}
/*打开时文字位置设置*/
.switch .el-switch__label--right {
  z-index: 1;
}
/* 调整打开时文字的显示位子 */
.switch .el-switch__label--right span{
  margin-left: 9px;
}
/*关闭时文字位置设置*/
.switch .el-switch__label--left {
  z-index: 1;
}
/* 调整关闭时文字的显示位子 */
.switch .el-switch__label--left span{
  margin-left: 22px;
}
/*显示文字*/
.switch .el-switch__label.is-active {
  display: block;
}
/* 调整按钮的宽度 */
.switch.el-switch .el-switch__core,
.el-switch .el-switch__label {
   width: 60px !important;
   margin: 0;
}
/* 分页 */
.el-pagination{
  text-align: right;
  padding-top: 24px;
}